<template name="baseLayout">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Proyects Manager App</a>
            <ul id="nav-mobile" class="left">
                {{>loginButtons}}
                {{#if currentUser}}
                    <li><a href="{{ pathFor 'profile' }}">Mi perfil</a></li>
                    <li><a href="{{ pathFor 'projects'}}">Proyectos</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

    {{#momentum plugin="growl"}}
        {{#if Template.subscriptionsReady}}
            {{>yield}}
        {{/if}}
    {{/momentum}}
</template>